.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-align {
  display: flex;
  height: 100vh
}

.content-page {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: space;
  height: 100vh;
  background: #eae7dc;
  border-right-style: solid;
  border-right-width: 3px;
}

/* ---------------ABOUT PAGE --------------------*/


.about-page {
  
  display: flex;
  flex-direction: column;
  width: 70vw;
  border-right-style: solid;
  border-right-width: 1px;

}


.about-page-content-header {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Circular-header";
  padding-left: 20px;
  padding-right: 20px
}

.header-subtitle{
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Circular-p";
  font-size: 15px;
}


.about-header-container{
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  font-family: 'Circular-header';
  font-size: 50px;
  background-color: rgb(8, 141, 250);
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.about-page-body-header {
  font-family: 'Circular-header';
  color: black;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.about-page-p{
  font-family: "Circular-p";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
}

.about-page-skills-container{
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  padding-top: 15px
}

.about-page-skills-header{
  font-family: 'Circular-header';
  color: black;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  font-size: 20px;
  padding-left: 20px;
  background-color: white
}
/* ---------------PROJECTS PAGE --------------------*/




.projects-page {
  
  display: flex;
  flex-direction: column;
  width: 70vw;
  border-right-style: solid;
  border-right-width: 1px;

}


.projects-page-content-header {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  color: rgb(23, 0, 87);
  font-family: "Circular-header";
  padding-left: 20px;
  padding-right: 20px
}

.projects-header-subtitle{
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  width: 100%;
  color: rgb(23, 0, 87);
  font-family: "Circular-p";
  font-size: 15px;
}


.projects-header-container{
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  font-family: 'Circular-header';
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.projects-page-body-header {
  font-family: 'Circular-header';
  color: black;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.projects-page-p{
  font-family: "Circular-p";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
}

.projects-show-container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  background-color: #efefef

}


/* ---------------EXPERIENCE PAGE --------------------*/


.content-page-experience {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: space;
  height: 100vh;
  background: rgb(222, 234, 220);
  border-right-style: solid;
  border-right-width: 1px;
}



/* ---------------NAV PAGE --------------------*/


.animated-div {
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.nav-container {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: space;
  height: 100%;
  background: rgb(250, 250, 250);
  color: rgba(0, 0, 0, 0.61);
  align-items: center;
  border-right-style: solid;
  border-right-width: 7px;
  border-color: rgba(0, 0, 0, 0.76);
}

.nav-style {
  display: flex;
  color: rgba(0, 0, 0, 0.76);
  text-decoration: none;
  transition-duration: 0.3s;
}

.nav-style:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.position {
  width: 100%;
}

.nav-name {
  font-size: 5vmin;
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 7vh;
  justify-content: center
}

.nav-links {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  font-size: 3.4vmin;
  padding: 20px;
}

.socials {
  display: flex;
  flex: 1;
  margin-top: 5vh;
  width: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 8vh;
  padding-left: 10%;
  padding-right: 10%
}

.icon-container{
  display: flex;
  justify-content: center;
}

.icon {
  width:4.5vh;
  height: 4.5vh;
  transition-duration: 0.3s;
}
.icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}



/* ---------------SPOTIFY PAGE --------------------*/


.content-page-spotify {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: space;
  background: white;
  border-right-style: solid;
  border-right-width: 1px;
}

.nav-container-spotify {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: space;
  height: 100vh;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  align-items: center;
  border-right-style: solid;
  border-right-width: 7px;
  border-color: rgba(0, 0, 0, 0.76);
  font-family: 'Nunito', sans-serif;
}


.nav-style-spotify {
  display: flex;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.nav-style-spotify:hover {
  transform: scale(1.2);
  text-decoration: none;
}


.spotify-header-container{
  background-color: rgb(25, 230, 140);
  display: flex;
  justify-content: center;
}
.spotify-header-title{
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Circular-header';
  font-size: 50px;
  color: white;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.spotify-header-container {
  justify-content: center;
}

.spotify-body-title{
  display: flex;
  margin-top: 0vh;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Circular-header';
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.nav-name-spotify {
  font-size: 5vmin;
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 7vh;
  justify-content: center;
  font-family: 'Circular-navname';
}

.spotify-body-container{
  background-color: #efefef;
  display: "flex";
  align-content: "center";
  padding-bottom: 30px
}

.spotify-images{
  height: 70px;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.spotify-images-footer{
  height: 50px;
  display: flex;

  margin-top: 4px; 
  width: 100%;
  justify-content: space-evenly
}

.spotify-p{
  font-family: "Circular-p";
  align-content: center;
  margin-left: 15%;
  margin-right: 15%
}




ul {
  padding-inline-start: 0px;
}
