body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Circular-header";
  src: url("./fonts/CircularSpUIm40-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular-links";
  src: url("./fonts/CircularSpUIm5-Book.otf") format("opentype");
}

@font-face {
  font-family: "Circular-navname";
  src: url("./fonts/CircularSpUI-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular-p";
  src: url("./fonts/CircularSpUI-Book.otf") format("opentype");
}



